# List comprehension

In [13]:
#if x the power 2 is <= 10 execute 27*x for value in range 1 to 20


[27*x for x in range(1,21) if x**2 <= 50]

[27, 54, 81, 108, 135, 162, 189]

In [14]:
#print all the even number 1 to 20


[i for i in range(1,21) if i%2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
#find all the number that can be divided by 2 and 5 in some range 


[ i for i in range(1,101) if (i%2==0) and (i%5==0)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [16]:
# for find all the number from 1 to 1000 that have 3 in them 

[i for i in range( 1,1000) if '3' in str(i)]

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

In [17]:
#to print the squire of a number in the list given if is > 50


l1 = [1,2,3,4]
[ i**2 for i  in l1 if i**2>50]

[]

In [18]:
#count the consonents.

s = "a,b,c,d,e,f,g,h,i,j,k,,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z"
l1=[ i for i in s if i not in "a,e,i,o,u"]
print(len(l1))

21

In [19]:
#

In [20]:
# s= i love aitr, count the number of spaces in string
s = "i love aitr"
l1 = [i for i in s if i==" "]
print(len(l1))

2