In [ ]:
# all the number divisible by 2
list = [5,6,7,8,9,12,33,34]
[i for i in list if i%2==0]

[6, 8, 12, 34]

In [ ]:
#  print all the no. greater than = 50 and less = 120 for some range = 1000
list = [i for i in range (1,1001) if i>=50 and i<=120]
print(list)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120]

In [ ]:
# print the table of five from 1 to 30 
list=[5*i for i in range (1,31)]
print(list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150]

In [ ]:
# count all th vowel in sent i love csit department
string  = "i love csit department"
list = [i for i in string if i in ['a','e','i','o','u'] ]
print (len(list))

7

In [ ]:
# print all the keys in lowew=r case i fthe value greater than=3000 
dict = {'Jeep' : 1000, 'RangeRover' : 100, 'landRover' : 4000,'AUDI' : 5000}
l = [i.lower() for i in  dict if dict[i]>=3000 ]
print(l)

['landrover', 'audi']

In [1]:
# for i in range print even if the number and otherwise print odd

list = [ 'even' if i%2==0 else 'odd' for i in range(1,101)]
print(list)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']